.body{
    background-color: #262633;
    margin-left: 380px;
    margin-right: 380px;

}

.header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #515466;
}

.title{
    text-align: center;
    color: rgb(255, 255, 255);
}

.text1{
    text-align: justify;
    color: rgb(255, 255, 255);

}

.text2{
    text-align: center;
    color: rgb(255, 0, 0);
}

.main{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #515466;
}

.text3{
    text-align: justify;
    color: rgb(255, 255, 255);
    text-align: center;

}

.tabela{
    width: 100%;
}

.textabela{
    text-align: justify;
    color: white;
}